{% extends "base.html" %}

{% block extracss %}
<style>
    html, body {
        height: 100vh;
        margin: 0px;
        padding: 0px;
    }

    .cell {
        border: solid;
        border-width: 1px;
        border-radius: 5px;
        padding: 0.5em;
    }

    .canvas-container {
        height: 100%;
    }

    canvas {
        max-width: 100%;
        max-height: calc(100vh - 150px);;
        margin: auto;
    }
</style>
{% endblock extracss %}

{% block extranavbarstart %}
    <span class="navbar-item is-italic">
        {{ species_pretty_name }}
    </span>
    <span class="navbar-item">
        {{ species_pretty_finder }}
    </span>
{% endblock extranavbarstart %}

{% block extranavbarend %}
    <a class="navbar-item" id="reinit">Refaire le crop</a>
    <a class="navbar-item" id="validate" style="display: none;">Valider le crop</a>
{% endblock extranavbarend %}

{% block content %}
<section class="section">
    <div class="canvas-container has-text-centered">
        <canvas
            id="canvas"
            width=0
            height=0
            class="blur canvas"
            data-src="/data/medias/{{ media.path | safe }}"
            data-id="{{ media.id }}"
        >
        </canvas>
    </div>
</section>
{% endblock content %}

{% block extrajs %}
<script>
    async function loadImage(src) {
        return new Promise((resolve, reject) => {
            let img = new Image()
            img.onload = () => resolve(img)
            img.onerror = reject
            img.src = src
        })
    }

    class Cropper {
        constructor(id) {
            this.reinitButton = document.getElementById('reinit');
            this.validateButton = document.getElementById('validate');
            this.canvas = document.getElementById('canvas');
            this.ctx = canvas.getContext('2d');
            this.src = this.canvas.getAttribute('data-src');
            this.mediaId = this.canvas.getAttribute('data-id');

            // 0 means setting x
            // 1 means setting y
            // 2 means setting width
            // 3 means setting height
            // 4 means we're done
            this.step = 0;
            this.box = {x: 0, y: 0, width: 1, height: 1};

            this.reinitButton.addEventListener('click', () => this.reinit());
            this.validateButton.addEventListener('click', () => this.validate());
        }

        async init() {
            this.img = await loadImage(this.src);

            // let width = this.canvas.parentElement.clientWidth;
            this.canvas.width = this.img.width;
            this.canvas.height = this.img.height;

            canvas.addEventListener('mousemove', event => {
                switch (this.step) {
                    case 0: this.box.x = event.offsetX / canvas.offsetWidth; break;
                    case 1: this.box.y = event.offsetY / canvas.offsetHeight; break;
                    case 2: this.box.width = event.offsetX / canvas.offsetWidth - this.box.x; break;
                    case 3: this.box.height = event.offsetY / canvas.offsetHeight - this.box.y; break;
                }

                this.render();
            });

            canvas.addEventListener('pointerdown', () => {
                this.step++;

                if (this.step === 4) {
                    this.markDone();
                }
            });

            this.render();
        }

        render() {
            // Drawing the image clears all overlays
            this.ctx.drawImage(this.img, 0, 0, this.img.width, this.img.height, 0, 0, this.canvas.width, this.canvas.height);
            this.ctx.fillStyle = 'rgba(255, 255, 255, 0.5)';
            this.ctx.fillRect(
                this.box.x * this.canvas.width,
                this.box.y * this.canvas.height,
                this.box.width * this.canvas.width,
                this.box.height * this.canvas.height,
            );
        }

        markDone() {
            this.validateButton.style.display = "flex";
        }

        reinit() {
            this.validateButton.style.display = "none";
            this.step = 0;
            this.box = {x: 0, y: 0, width: 1, height: 1};
            this.render();
        }

        validate() {
            let xhr = new XMLHttpRequest();
            xhr.open("POST", '/crop/' + this.mediaId);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4) {
                    window.location.href = window.location.href.replace('crop', 'media');
                }
            };

            let pixelBox = {
                x: (this.box.x + this.box.width / 2) * this.img.width,
                y: (this.box.y + this.box.height / 2) * this.img.height,
                width: this.box.width * this.img.width,
                height: this.box.height * this.img.height,
            };
            xhr.send(JSON.stringify(pixelBox));
        }
    }

    let cropper = new Cropper('canvas');
    cropper.init();
</script>
{% endblock extrajs %}
