{% extends "base.html" %}

{% block extracss %}
<style>
#sunburst {
    display: inline;
}

.plot-container {
    filter: invert(75%) hue-rotate(180deg);
}

.example {
    max-height: 40vh;
}

canvas {
    display: block;
}

canvas.scale {
    height: calc(100vh - 52px);
}

canvas.main {
    width: calc(100vh - 52px);
    height: calc(100vh - 52px);
}
</style>
{% endblock extracss %}

{% block content %}
<section class="section p-0 m-0">
    <div class="columns m-0 p-0">
        <div class="column m-0 p-0">
            <div id="sunburst"></div>
        </div>
        <div class="column m-0 p-0">
            <div class="columns">
                <div class="column content my-5" id="info">
                </div>
                <div class="column content my-5" id="controls">
                </div>
            </div>
            <div>
                <h3 id="example-title" class="title is-3" style="display: none;">Exemple</h3>
                <img class="blur example" id="example"></img>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extrajs %}
<script src="/static/plot.js"></script>
<script>
    (async function() {
        const Plot = await initPlot();
        Plot.main();
    })();
</script>
{% endblock extrajs %}
