{% extends "base.html" %}

{% block extracss %}
<style>
.plot-container {
    filter: invert(75%) hue-rotate(180deg);
}
</style>
{% endblock extracss %}

{% block content %}
<section class="section">
    <h1 class="title is-1">Scraper</h1>
    <div class="columns">
        <div class="column">
            <div id="sunburst"></div>
        </div>
        <div class="column">
            <h1 class="title is-3" id="valid-name"></h1>
        </div>
    </div>

    <h2 class="title is-4">Aide</h2>
    <div class="content">
        <ul>
            <li>Ctrl + clic ou clic molette pour ouvrir le taxon dans un nouvel onglet</li>
        </ul>
    <div>
</section>
{% endblock content %}

{% block extrajs %}
<script src="/static/plot.js"></script>
<script>
    async function main() {
        let json = await fetch('/plotly/reign/Animalia');
        json = await json.json();

        let validNameElement = document.getElementById('valid-name');
        let tree = Plot.Tree.fromJson(json);

        let chart = new Plot.Chart("sunburst", tree);

        chart.addEventListener('click', async function(child, event) {
            // If ctrl key is pressed down, or mouse wheel click, open list of species in new tab
            if (event.type === "auxclick" || event.ctrlKey) {
                window.open('/species/' + Plot.depthToTaxon(child.depth) + '/' + child.name + '/1');
                return;
            }

            if (chart.currentRoot === child) {
                if (child.parent !== null) {
                    chart.currentRoot = child.parent;
                }
            } else {
                // Fetch what we need
                let req = await fetch('/plotly/' + Plot.depthToTaxon(child.depth) + '/' + child.name);
                let resp = await req.json();
                child.children = Plot.Tree.fromJson(resp, child.depth).children;
                for (let subchild of child.children) {
                    subchild.parent = child;
                }
                chart.currentRoot = child;
            }
            chart.render();
        });

        chart.addEventListener('mouseover', child => {
            validNameElement.innerHTML = '<a href="' + '/species/' + Plot.depthToTaxon(child.depth) + '/' + child.name + '/1' + '">' + child.name + '</a>';
        });

        chart.render();
    }

    main();
</script>
{% endblock extrajs %}
